@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200&family=Pacifico&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    /* --icon-color: #E9EAEC;
    --yellow-color: #FAD02C;
    --yellow2-color: #f6d861;
    --blue-color: #333652;
    --blue-color2: #474959;
    --grey-color: #90ADC6;
    --dark-color: #000; */
    /* texte, icon,... */

    --navbar-color: #FAD02C;
    --navbar-color2: #f6d861;
    --writing-color: #000;
    --icon-filled-color: #333652;
    --icon-color: #fff;
    --header-info-color: #fff;
    /*#888888*/
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* navbar */

.navbar {
    position: fixed;
    z-index: 1;
    background-color: var(--navbar-color);
    width: 100%;
    height: 80px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
}

.navbar-logo {
    z-index: 1;
    width: 80px;
    padding: 10px;
}

.navbar-title {
    z-index: 1;
    font-family: 'Pacifico';
    font-size: 1.8rem;
    color: var(--writing-color);
}

.burger-icon {
    z-index: 1;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    /* color: var(--element-color); */
}

i.light-icon {
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 60px;
    margin: 1%;
    padding: 5px;
    background-color: var(--icon-filled-color);
    border-radius: 10px;
    box-shadow: 0 0 2px #888;
    cursor: pointer;
    font-size: 2.2rem;
    color: var(--icon-color);
}

.navbar-links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-400px);
}

.menu-close-mobile {
    animation: downToUp .6s both;
}

.menu-open-mobile {
    animation: upToDown .6s both;
}

@keyframes upToDown {
    from {
        transform: translateY(-400px);
    }

    to {
        transform: translateY(83px);
    }
}

@keyframes downToUp {
    from {
        transform: translateY(83px);
    }

    to {
        transform: translateY(-400px);
    }
}

.navbar-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--navbar-color);
}

.navbar-links ul li {
    padding: 15px;
}

.navbar-links ul li a {
    font-family: 'Pacifico';
    text-decoration: none;
    color: var(--writing-color);
    cursor: pointer;
    font-size: 1.6rem;
}

/* Header */
.header {
    background-color: var(--navbar-color2);
    padding: 100px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-top,
.header-bottom {
    margin: 5% 0%;
    width: 100%;
}

.header-welcome {
    text-align: center;
    height: 80px;
    overflow: hidden;
}

.header-sentence {
    font-family: 'Poppins', sans-serif;
    color: var(--writing-color);
    font-size: 1.5rem;
    display: inline-block;
    overflow: hidden;
    word-break: break-word;
    animation: typing linear 5s infinite;
    font-weight: bolder;
}

@keyframes typing {
    from {
        width: 0%;
        /* opacity: 0; */
    }

    to {
        width: 100%;
        /* opacity: 1; */
    }
}

.header-face {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-face a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7%;
}

.header-face a img {
    width: 70%;
    box-shadow: rgb(0, 0, 0) 0px 10px 30px -10px;
    border-radius: 10%;
}

.header-face a img:hover {
    transform: scale(1.1);
}

.header-infos {
    /* background-color: #fff; */
    background-color: var(--header-info-color);
    padding: 3%;
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 2% 0%;
    color: var(--writing-color);
    font-family: 'Poppins', sans-serif;
}


.projects {
    padding: 20px;
}

.projects-top {
    margin: 15% 0;
}

.projects-title {
    /* text-align: center; */
    margin: 10% 0;
}

.projects-title h1 {
    text-align: center;
    font-size: 1.8rem;
}

.projects-legend {
    display: flex;
    justify-content: space-between;
}

.project-legend {
    display: flex;
    align-items: center;
}

.legend-color {
    /* background-color: aqua; */
    border-radius: 10px;
    width: 50px;
    padding: 15px;
}

.legend-color.web {
    background-color: #000;
}

.legend-color.jeu {
    background-color: aqua;
}

.legend-color.ihm {
    background-color: red;
}

.legend-title {
    margin: 0 5%;
}

.projects-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 1%;
}

.project {
    padding: 5%;
    border-radius: 20px;
}

.project.web {
    background-color: rgb(126, 167, 99);
}

.project.jeu {
    background-color: cyan;
}

.project.ihm {
    background-color: red;
}

.project-title {
    text-align: center;
    font-size: 1.4rem;
}

.project-description {
    text-align: justify;
    margin: 3% 0%;
    font-size: 1.1rem;
}

.project-category,
.project-languages,
.project-framework,
.project-api {
    text-align: end;
}

.project-gallery {
    margin: 5% 0%;
}

.project-languages i {
    margin-left: 5%;
    font-size: 2.2rem;
    /* width: 40px; */
}

/* .project-slider {
    text-align: center;
} */

.project-sliderCommand {
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    box-shadow: 0 10px 10px rgb(0 0 0 / 30%);
}

.project-sliderCommand i {
    font-size: 1.2rem;
    margin: 3% 8%;
    cursor: pointer;
}

.project-image {
    max-width: 320px;
    display: none;
}

.project-image.active-img {
    display: block;
    max-width: 100%;
}

.project-link {
    text-align: end;
}

.project-link a i {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    margin-left: 5%;

}

@media only screen and (min-width: 1150px) {
    .burger-icon {
        display: none;
    }

    .navbar-links {
        position: relative;
        transform: unset;
        margin-left: auto;
        width: unset;
    }

    .navbar-links ul {
        flex-direction: row;
        /* margin-left: auto; */
    }

    .navbar-title {
        font-size: 1.5rem;
        margin: 0% 1%;
    }

    .navbar-links ul li a {
        font-size: 1.3rem;
    }

    .navbar-links ul li:nth-child(3),
    .navbar-links ul li:nth-child(5) {
        /* background-color: blue; */
        border-right: 2px solid var(--writing-color);
    }


    .header {
        padding: 10px 20px;
        flex-direction: row;
    }

    .header-welcome {
        height: 160px;
    }

    .header-sentence {
        font-size: 1.8rem;
    }
}