@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200&family=Pacifico&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --navbar-color: #FAD02C;
    --navbar-color2: #f6d861;
    --writing-color: #000;
    --icon-filled-color: #333652;
    --icon-color: #fff;
    --header-info-color: #fff;
    --web-color: rgb(126, 167, 99);
    --jeu-color: #8c80af;
    --ihm-color: #d68c1c;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.fa-html5 {
    color: #FFA500;
    font-size: 1.6rem;
}

.fa-css3-alt {
    color: #2965f1;
    font-size: 1.6rem;
}

.fa-js {
    color: #f7df1e;
    font-size: 1.6rem;
}

.fa-java {
    color: #5382a1;
    font-size: 1.6rem;
}

.fa-c {
    color: #000;
    font-size: 1.6rem;
}

.fa-database {
    color: #00758F;
    font-size: 1.6rem;
}

.fa-php {
    color: #484C89;
    font-size: 1.6rem;
}

.fa-react {
    color: #61DBFB;
    font-size: 1.6rem;
}

.fa-laravel {
    color: #F05340;
    font-size: 1.6rem;
}

/* navbar */

.navbar {
    position: fixed;
    z-index: 1;
    background-color: var(--navbar-color);
    width: 100%;
    height: 80px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
}

.navbar-logo {
    z-index: 1;
    width: 80px;
    padding: 10px;
}

.navbar-title {
    z-index: 1;
    font-family: 'Pacifico';
    font-size: 1.8rem;
    color: var(--writing-color);
}

.burger-icon {
    z-index: 1;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    /* color: var(--element-color); */
}

i.light-icon {
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 60px;
    margin: 1%;
    padding: 5px;
    background-color: var(--icon-filled-color);
    border-radius: 10px;
    box-shadow: 0 0 2px #888;
    cursor: pointer;
    font-size: 2.2rem;
    color: var(--icon-color);
}

.navbar-links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-400px);
}

.menu-close-mobile {
    animation: downToUp .6s both;
}

.menu-open-mobile {
    animation: upToDown .6s both;
}

@keyframes upToDown {
    from {
        transform: translateY(-400px);
    }

    to {
        transform: translateY(83px);
    }
}

@keyframes downToUp {
    from {
        transform: translateY(83px);
    }

    to {
        transform: translateY(-400px);
    }
}

.navbar-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--navbar-color);
}

.navbar-links ul li {
    padding: 15px;
}

.navbar-links ul li a {
    font-family: 'Pacifico';
    text-decoration: none;
    color: var(--writing-color);
    cursor: pointer;
    font-size: 1.6rem;
}

/* Header */
.header {
    background-color: var(--navbar-color2);
    padding: 100px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-top,
.header-bottom {
    margin: 5% 0%;
    width: 100%;
}

.header-welcome {
    text-align: center;
    height: 80px;
    overflow: hidden;
}

.header-sentence {
    font-family: 'Poppins', sans-serif;
    color: var(--writing-color);
    font-size: 1.5rem;
    display: inline-block;
    overflow: hidden;
    word-break: break-word;
    animation: typing linear 5s infinite;
    font-weight: bolder;
}

@keyframes typing {
    from {
        width: 0%;
        /* opacity: 0; */
    }

    to {
        width: 100%;
        /* opacity: 1; */
    }
}

.header-face {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-face a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7%;
}

.header-face a img {
    width: 70%;
    box-shadow: rgb(0, 0, 0) 0px 10px 30px -10px;
    border-radius: 10%;
}

.header-face a img:hover {
    transform: scale(1.1);
}

.header-infos {
    /* background-color: #fff; */
    background-color: var(--header-info-color);
    padding: 3%;
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 2% 0%;
    color: var(--writing-color);
    font-family: 'Poppins', sans-serif;
}

.projects,
.skills,
.about {
    padding: 20px;
    margin: 10px 0;
}

.projects-top {
    margin: 15% 0;
}

.projects-title {
    margin: 10% 0;
}

.projects-title h1,
.skills-title h1,
.about-title h1 {
    text-align: center;
    font-size: 1.8rem;
    margin: 20px 0;
}

.projects-legend {
    display: flex;
    justify-content: space-between;
}

.project-legend {
    display: flex;
    align-items: center;
}

.projects-btnReset {
    width: 100%;
    padding: 1%;
    margin: 5% 0%;
    border-radius: 10px;
    font-size: 1.1rem;
}

.legend-color {
    /* background-color: aqua; */
    border-radius: 10px;
    width: 50px;
    padding: 15px;
}

.legend-color:hover {
    cursor: pointer;
}

.legend-color.web {
    background-color: var(--web-color);
}

.legend-color.jeu {
    background-color: var(--jeu-color);
}

.legend-color.ihm {
    background-color: var(--ihm-color);
}

.legend-title {
    margin: 0 5%;
}

.projects-grid {
    display: grid;
    grid-template-columns: auto;
}

.project {
    padding: 5%;
    border-radius: 20px;
    margin: 3% 0%;
}

.project.web {
    background-color: var(--web-color);
}

.project.jeu {
    background-color: var(--jeu-color);
}

.project.ihm {
    background-color: var(--ihm-color);
}

.project-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.project-header span {
    margin: 0% 1%;
}

.project-content {
    padding: 4% 0%;
}

.project-description {
    text-align: justify;
    margin: 4% 0%;
    font-size: 1.1rem;
    text-indent: 30px;
}

.project-category,
.project-languages,
.project-framework,
.project-api {
    text-align: end;
    margin-bottom: 4%;
}

.project-gallery {
    margin: 5% 0%;
}

.project-languages i {
    margin-left: 5%;
    font-size: 2.2rem;
}

.project-sliderCommand {
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    box-shadow: 0 10px 10px rgb(0 0 0 / 30%);
}

.project-sliderCommand i {
    font-size: 1.2rem;
    margin: 3% 8%;
    cursor: pointer;
}

.project-image {
    max-width: 320px;
}

.project-imageFirst {
    animation-name: fadeInImg;
    animation-duration: 1.5s;
}

.project-image.active-img {
    max-width: 100%;
}

@keyframes fadeInImg {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

.project-imageCaption {
    text-align: center;
    margin: 3% 0%;
    font-size: 1.1rem;
}

.project-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-images img {
    width: 150px;
    margin: 2% 0%;
    cursor: pointer;
}

.project-link {
    text-align: end;
}

.project-link a i {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    margin-left: 5%;

}

/* skills */

.skills-tech {
    /* border: 3px solid #5888b1; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    margin: 20px 0;
}

.skills-tech.web {
    border: 3px solid #5888b1;
}

.skills-tech.framework {
    border: 3px solid #b16758;
}

.skills-tech.programming {
    border: 3px solid #b158ae;
}

.skills-tech.database {
    border: 3px solid #31458d;
}

.skills-tech.tools {
    border: 3px solid #6eb158;
}

.skills-subtitle {
    padding: 10px 0;
}

.skills-container {
    padding: 10px 0;
}

.skills-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills-left,
.skills-right {
    width: 50%;
}

.skills-titleLeft,
.skills-titleRight {
    font-size: 1.1rem;
}

.skills-right {
    border-left: 1px solid black;
    padding-left: 5%;
}

.skills-framework {
    padding: 2% 0%;
}

.skills-frameworkSubtitle {
    display: flex;
}

.skills-frameworkSubtitle p {
    padding-left: 3%;
}

ul li {
    text-decoration: none;
    list-style: none;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

ul li i {
    width: 40px;
}

li span {
    font-size: 1.1rem;
}

ul li img.skill-logo {
    margin-right: 7%;
}

img.skill-logo {
    width: 30px;
}

/* about */

.about-hobbies h3,
.about-personalities h3 {
    margin: 20px 0;
    font-size: 1.2rem;
}

.about-hobby,
.about-personality {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 60px 0;
    position: relative;
}

.about-hobby:hover .about-hobbyDescription {
    opacity: 1;
    width: 100%;
}

.about-hobby:hover .about-hobbyName {
    opacity: 0;
}

.about-hobby:hover .about-hobbyImg {
    opacity: 0;
}

.about-hobbyName,
.about-personalityName {
    margin-left: 20px;
}

.about-hobbyDescription {
    position: absolute;
    opacity: 0;
}

.about-hobbyDescription p {
    color: var(--writing-color);
    font-size: 1.0rem;
    text-align: justify;
}

.about-hobby img,
.about-personality img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
}

.about-hobby span,
.about-personality span {
    font-size: 1.2rem;
}

@media only screen and (min-width: 1150px) {

    /* menu burger */
    .burger-icon {
        display: none;
    }

    /* navbar */
    .navbar-links {
        position: relative;
        transform: unset;
        margin-left: auto;
        width: unset;
    }

    .navbar-links ul {
        flex-direction: row;
        /* margin-left: auto; */
    }

    .navbar-title {
        font-size: 1.5rem;
        margin: 0% 1%;
    }

    .navbar-links ul li a {
        font-size: 1.3rem;
    }

    .navbar-links ul li:nth-child(3),
    .navbar-links ul li:nth-child(5) {
        border-right: 2px solid var(--writing-color);
    }

    /* header */

    .header {
        padding: 10px 20px;
        flex-direction: row;
    }

    .header-welcome {
        height: 160px;
    }

    .header-sentence {
        font-size: 1.8rem;
    }

    /* projects */

    .project {
        margin: 3% 1%;
    }

    .projects-top {
        margin: 7% 0%;
    }

    .projects-title {
        margin: 5% 0%;
    }

    .project-imageCaption {
        font-size: 1.2rem;
    }

    .legend-color {
        width: 60px;
        padding: 20px;
    }

    .legend-title {
        font-size: 1.3rem;
    }

    .project-description {
        text-indent: 50px;
        font-size: 1.2rem;
    }

    .projects-grid {
        grid-template-columns: auto auto;
    }

    .project-header {
        flex-direction: row;
    }

    .project-images {
        justify-content: space-evenly;
    }

    .project-images img {
        width: 230px;
    }
}