@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200&family=Pacifico&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

:root {
    --icon-color: #E9EAEC;
    --yellow-color: #FAD02C;
    --blue-color: #333652;
    --grey-color: #90ADC6;
    --dark-color: #000;
    /* texte, icon,... */
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* navbar */

.navbar {
    display: flex;
    align-items: center;
    background-color: var(--yellow-color);
    justify-content: space-between;
}

.navbar-logo {
    z-index: 1;
    width: 80px;
    padding: 10px;
}

.navbar-title {
    z-index: 1;
    font-family: 'Pacifico';
    font-size: 1.8rem;
    color: var(--dark-color);
}

.burger-icon {
    z-index: 1;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    /* color: var(--element-color); */
}

i.light-icon {
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 60px;
    margin: 1%;
    padding: 5px;
    background-color: var(--blue-color);
    border-radius: 10px;
    box-shadow: 0 0 2px #888;
    cursor: pointer;
    font-size: 2.2rem;
    color: var(--icon-color);
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--yellow-color);
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
}

.menu-close-mobile {
    animation: downToUp .6s both;
}

.menu-open-mobile {
    animation: upToDown .6s both;
}

@keyframes upToDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes downToUp {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}

.navbar-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-links ul li {
    padding: 15px;
}

.navbar-links ul li a {
    font-family: 'Pacifico';
    text-decoration: none;
    color: var(--dark-color);
    cursor: pointer;
    font-size: 1.6rem;
}

/* Header */
.header {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-top,
.header-bottom {
    margin: 5% 0%;
}

.header-face {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-face a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
}

.header-face a img {
    width: 70%;
    box-shadow: rgb(0, 0, 0) 0px 10px 30px -10px;
    border-radius: 10%;
}

.header-face a img:hover {
    transform: scale(1.1);
}

.header-infos {
    padding: 3%;
    margin: 2%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 2% 0%;
}

@media only screen and (min-width: 1150px) {
    .burger-icon {
        display: none;
    }

    .navbar-links {
        position: relative;
        transform: unset;
    }

    .navbar-links ul {
        flex-direction: row;
        margin-left: auto;
    }

    .navbar-title {
        font-size: 1.5rem;
        margin: 0% 1%;
    }

    .navbar-links ul li a {
        font-size: 1.3rem;
    }

    .navbar-links ul li:nth-child(3),
    .navbar-links ul li:nth-child(5) {
        /* background-color: blue; */
        border-right: 2px solid var(--dark-color);
    }
}